<%- include('partials/header') %>

<main>
    <div class="row home-container">
        <div class="col-3 side-bar">
            <h2>Hello <%= user.username %>!</h2>
            <p>What files do you want to upload today?</p>
            <form action="/home" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <select class="form-select" name="foldername">
                        <option selected>Choose a Folder</option>
                        <% folders.forEach(folder => {%>
                            <option value="<%= folder.foldername %>"><%= folder.foldername %></option>
                        <%}) %>

                      </select>
                    <label for="fileName" class="mt-3">Upload File</label>
                    <br />
                    <input type="file" class="form-control-file mt-3" name="upload-file" id="fileName">
                    <br />
                    <button type="submit" class="btn btn-primary mt-3">Upload</button>
                </div>
            </form>
            <p class="mt-3"><%= file %></p>
            <div>
                <p>Or Create a new Folder</p>
                <form action="/home/new-folder" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="newFolder">
                        <label for="floatingInput">New folder</label>
                      </div>
                      <button type="submit" class="btn btn-success">Create Folder</button>
                </form>
            </div>
            <div>
                <h4>Manage Folders</h4>
                <ul>
                    <% folders.forEach(folder => {%>
                        <li><%= folder.foldername %> <a href="/home/delete/<%= folder.id %>/<%= folder.foldername %>">❌</a></li>
                    <%}) %>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <h2>Select a folder to view files</h2>
            <form action="/home/files" id="folderForm" method="POST">
                <div class="form-group">
                    <select class="form-select" name="folders"  onchange="document.getElementById('folderForm').submit()">
                        <option selected>Choose a Folder</option>
                        <% folders.forEach(folder => {%>
                            <option value="<%= folder.foldername %>"><%= folder.foldername %></option>
                        <%}) %>
                      </select>
                </div>
                <div>
                    <% if (error) { %>
                        <p><%= error %></p>
                    <% } %>
                    <% if (files && files.fileUrls && files.fileUrls.length > 0) { %>
                        <ul>
                            <h4><%= files.foldername %></h4>
                            
                            <% files.fileUrls.forEach(file => { %>
                                <li><a href="/files/<%= user.id %>/<%= files.foldername %>/<%= file.split(/[\/\\]/).pop() %>" target="_blank">
                                    <%= file.split(/[\/\\]/).pop() %>
                                </a></li>
                            <% }) %>
                    </ul>
                    <% } %>      
                </div>
            </form>
            
    </div>
</main>





<%- include('partials/footer') %>